/*
GLOBAL
*/
.heading-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.COLORED {
    height: 400px;
    width: 100%;
    background-color: palevioletred;
    padding: 30px;
    text-align: center;
}

/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF;
}

.header .header-menu a:hover {
   color: #3498db;
}

/*
BANNER
*/
.banner .banner-image {
    position: relative;
    width: 100%;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: rgb(224, 117, 16)
}

/*
ABOUT
*/
.about .about-single-element .icon {
    font-size: 30px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}
.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

/*
FOOTER
*/
.footer .footer-login-form {
    text-align: center;
    margin-top: 70px;
}

.footer .footer-informations {
    
    margin-top: 30px;
} 


.rang1 {
    text-align: center;
    margin-top: 70px;
    color: red;
    font-family: 'Montserrat', sans-serif;
}
/*
CONTACT
*/
.title-page{
    margin-top: 80px;
    margin-bottom: 20px;
}
.navbar{
    height: 60px;
}

.navbar .navbar-start .navbar-item a:hover{
    color: red;
}





